body {
    background-color: yellow;
}

h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.listaProductos {

    text-align: center;
    
}

#carrito {
    text-align: center;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    border: solid 1px white;
    background-color: white;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 30px;
    font-weight: bold;
}

ul {
    font-size: 20px;
    font-weight: bold;
}